<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/form.js"></script>
    <link rel="stylesheet" href="./css/form.css">
    <title>Document</title>
</head>
<body>
    <form action="">
        <div class="sendContainer">
            <h1>Sender Details</h1>
            <div class="imgContainer">
                <img>
                <div></div>
                <input type="file">
            </div>
            <div>First Name:</div>
            <input type="text">
            <div>Last Name:</div>
            <input type="text">
        </div>
        <div class="recContainer">
            <h1>Recipient Details</h1>
            <div>First Name:</div>
            <input type="text">
            <div>Last Name:</div>
            <input type="text">
            <div>Message</div>
            <input type="text">
            <div>Notify Recipient</div>
            <input type="radio">
            <label>Email</label>
            <input type="radio">
            <label>SMS</label>
            <input type="radio">
            <label>Do not Notify</label>
            <div>Email:</div>
            <input type="email">
            <div>Phone Number:</div>
            <input type="text">
        </div>
        <div class="detailContainer">
            <h1>Payment Details</h1>
            <div>Card Type</div>
            <select>
                <option>Visa</option>
                <option>Mastercard</option>
            </select>
            <div>Card Number</div>
            <input type="text">

            <div>Expiration</div>
            <input type="date">

            <div>CCV</div>
            <input type="password">

            <div>Amount($):</div>
            <input type="text">

            <input type="checkbox">
            <label>I agree to the terms and conditions</label>
            <input type="submit" Send>
        </div>
    </form>
</body>
</html>