<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/form.js"></script>
    <link rel="stylesheet" href="./css/form.css">
    <title>Document</title>
</head>
<body>
    <div class="outContainer">
    <form action="send" method="post" id="form" enctype="multipart/form-data">
        <div class="sendContainer">
            <h1>Sender Details</h1>
            <div class="imgContainer">
                <img id="preview" alt="Preview Image">
                <div></div>
                <input type="file" name="file" accept="image/*" id="fileIn" required/>
            </div>
            <div id="firstname">First Name:</div>
            <input type="text" name="sendFirst" required/>
            <div>Last Name:</div>
            <input type="text" id="lastname" name="sendLast" required/>
        </div>
        <div class="recContainer">
            <h1>Recipient Details</h1>
            <div>First Name:</div>
            <input type="text" name="recFirst" required/>
            <div>Last Name:</div>
            <input type="text" name="recLast" required/>
            <div>Message</div>
            <input type="text" name="message" required pattern="^.{10,500}$" id="msg"/>
            <div>Notify Recipient</div>
            <input type="radio" id="email" name="notify" value="email"/>
            <label for="email">Email</label>
            <input type="radio" id="sms" name="notify" value="sms"/>
            <label for="sms">SMS</label>
            <input type="radio" id="none" name="notify" value="none" required/>
            <label for="none">Do not Notify</label>
            <div>Email:</div>
            <input type="email" name="email" id="textEmail"/>
            <div>Phone Number:</div>
            <input type="text" id="textPhone" name="phone" pattern="[0-9]{10,10}"/>
        </div>
        <div class="detailContainer">
            <h1>Payment Details</h1>
            <div>Card Type</div>
            <select required name="cardType">
                <option>Visa</option>
                <option>Mastercard</option>
                <option>Discover</option>
                <option>American Express</option>
            </select>
            <div>Card Number</div>
            <input type="text" id="card" name="cardNum" required pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"/>

            <div>Expiration</div>
            <input type="text" id="date" name="expDate" required pattern="^(0[1-9]|1[0-2])\/([0-9]{4})$"/>

            <div>CCV</div>
            <input type="password" name="ccv" minlength="3" maxlength="4" required/>

            <div>Amount($):</div>
            <input type="number" step=".01" name="amount" required/><br>

            <input type="checkbox" name="terms" id="check" required/>
            <label>I agree to the terms and conditions</label><br>
            <input type="submit" id="submit"/>
        </div>
    </form>
</div>
</body>
</html>