/* .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
} */

.studentBtn {
    margin-left: auto;
}

.btnText {
    background-color: #FBFBFB;
    color: black;
    border: none;
}

.btnLabel {
    height: 40px;
}

a:hover {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

.navbar-brand {
    margin-left: 3vh;
    grid-column: 1;
}

input[type="checkbox"].checkboxBtn + label {
    color: #ffffff;
    background-color: black;
    border-color: white;
}

.test {
    background-color: green;
}

input[type="checkbox"].checkboxBtn:checked + label {
    color: #252525;
    background-color: white;
    border-color: black;
}

.accImg {
    width: auto;    
    max-height:100%;
}

.cardHeader img {
    width: auto;    
    max-height:100%;
    padding: 0;
    margin-left: 2vh;
}

.cardHeader {
    display: flex;
    
}

.date {
    text-align: right;
    /* width: 65%; */
    margin-left: auto;
    padding-right: 20px;
}

.howlList {
    margin-left: auto;
    margin-right: auto;
}

.howlLabel {
    margin-left: 8vh;
}