<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/boostrap.css">
    <title>Document</title>
</head>
<body>
    <div class="container text-center">
        <textarea type="text"></textarea>
        <br>
        <button>Howl</button>
    </div>
    <div class="container text-center">
        <div class="topBar">
          <img src="../images/face.jpg">
          <div class="col-sm-5" id="displayName">Display Name</div>
          <div class="col-sm-9" id="userName">@Username</div>
          <div class="col-sm-" id="date">Oct 1st, 10:30pm</div>
        </div>
        <div class="container text-center">This is the actual body of the howl that should be shown on the users page</div>
    </div>

    
</body>
</html>