<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="./js/profile.js" type="module"></script>    
    <link rel="stylesheet" href="./css/profile.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand col-1" href="./feed">Howler</a>
        <div class="dropdown studentBtn">
            <button class="btn btn-secondary dropdown-toggle btnText" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item profileBtn" href="#">Profile</a></li>
              <li><a class="dropdown-item logoutBtn" href="#">Logout</a></li>
            </ul>
          </div>
      </nav>
        <div class="row mt-4 infoList">
              <input type="checkbox" class="btn-check col-3 order-last checkboxBtn" id="btn-check-2" checked autocomplete="off">
              <label class="btn btn-primary col-3 order-last btnLabel" for="btn-check-2">Follow</label>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-10 border border-dark border-3">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Follows
                        </button>
                        </h2>
                        <div class="flush-collapseOne accordion-collapse collapse">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <h4 class="howlLabel mt-4">Howls:</h4>
            <div id="howlList" class="howlList container">
            </div>
</body>
</html>